.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

li{
  list-style-type:none;
}

li a, li a:hover{
  text-decoration: none !important;
  color: black;
}

p, h1, h2, h3, h4, h5, a {
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding: 0;
  /*background-color: #FAFAFA;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  z-index: 10;
  position: fixed;
  border-bottom: 50px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and () {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*Header style*/
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.brand { margin-left: auto; margin-right: auto; }
.navbar-inverse { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #080808}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #858585}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #FFFFBD}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #999999}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}




/*Main*/

.body{
  margin-top: 50px;
}

.content{
  /*background-color: #858585;*/

  max-width: 700px;
}

.feed{
  right: 0px;
  width: 300px;
  position: fixed;
  background-color: #f2f2f2;
}

.body,.content, .feed {
  min-height: 600px;
}

.content, .feed {
  margin: auto !important;
  padding: 30px;
}

.post{

}

.big_content{
  max-width: 700px;
  margin: auto;
  padding: 15px;
  padding-top: 30px;
}

.good_reads_title{
  font-size: 20px;
  text-decoration: underline;
}

.article{
  border-bottom: 1px solid #b3b3b3;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*post on wall*/

.title{
  font-size: 35px;
  font-weight: bold;
}

.snippet{
  color: #8c8c8c;
  font-size: 20px;
  font-weight: bold;
}

.post {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.wall a, .wall a:hover {
  text-decoration: none;
  color: inherit;
} 

.cover_image {
  height: 250px;
  overflow: hidden;
}

.cover_image img {
  width: 100%;
}